body { 
    background-color: olive;
}

$main-accent:#D41443; 
$second-accent: #FFA5BA;

$main-text:#FFFFFF;
$second-text:#000000; 
$third-text:#907E82; 

$header-background:#FFB8CA; 
$modal-background:#E17992;

$first-background:#FFFFFF; 
$second-background:#FFF5F6; 

